.Bid-header {
  border: 1px solid transparent;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  width: 70vw;
  align-items: center;
  background-color: rgb(219, 163, 201);
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0.5rem;
  transition: 300ms;
}

.Bid-header:hover {
  transform: scale(1.02);
  background-color: rgb(235, 190, 219);
  cursor: pointer;
}

.Bid-body-row {
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-between;
  border-top: 0px;
  height: 0;
  width: 70vw;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  background-color: transparent;
}

.Bid-container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  border-radius: 35px;
  border-top: 0px;
  height: 15.5rem;
  overflow: hidden;
  /* transition: all 300ms ease-in-out;
  background-color: transparent; */
}

.Bid-page-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.hidden {
  height: 100%;
}

.Bid-h3 {
  font-family: "Lilita One", cursive;
  font-size: 1.3rem;
  color: rgb(44, 44, 44);
}

#Bid-icon {
  margin-left: 1rem;
  font-size: 1.2rem;
  color: rgb(37, 37, 37);
}

#Bid-p {
  text-align: center;
  font-family: "Oleo Script", cursive;
  font-size: 1.4rem;
}

.Bid-img {
  height: 9rem;
  width: 8rem;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Bid-flex-row > h5 {
  font-size: 1.5rem;
  margin: 0.5rem auto;
  font-family: "Lilita One", cursive;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.Bid-flex-row > h2 {
  font-size: 1.3rem;
  margin: 0.5rem auto;
  font-family: "Lilita One", cursive;
  text-transform: uppercase;
  color: rgb(56, 56, 56);
}

.Bid-page-column > h4 {
  margin: 0.5rem auto;
  font-family: "Lilita One", cursive;
  color: rgb(73, 73, 73);
  text-transform: uppercase;
  font-size: 1.2rem;
}

.Bid-items-text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Bid-image {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  margin-right: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.item-card-image image {
  width: 100%;
}

.Bid-name-txt {
  font-family: "Oleo Script", cursive;
  font-size: 1.3rem;
  color: rgb(83, 83, 83);
}

.Bid-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: 0.2rem auto; */
  /* border: 1px solid red; */
}

.Bid-list-col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  border-right: 2px solid rgba(68, 68, 68, 0.116);
}

.Bid-list-col-2 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.Big-flex-flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 50%;
  border-radius: 25px;
}

.txt-area-col {
  display: none;
}

.bid-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.show-bid-form {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0.5rem auto;
  font-family: "Oleo Script", cursive;
  font-size: 1.2rem;
  color: rgb(187, 139, 170);
}

.bid-message {
  font-family: "Oleo Script", cursive;
  font-size: 1.3rem;
  color: rgb(71, 71, 71);
}
.Bid-prompt {
  display: none;
}

.bid-text-area {
  margin-top: 10px;
  font-size: 1rem;
  width:60vw;
}
/* 
.txt-area-col {
  display: flex;
  align-items: center;
  width: 50vw;
} */

@media screen and (max-width: 375px) {
  .txt-area-col {
    /* width: 80vw; */
  }

  .Bid-body-row {
    width: 90vw;
  }
}
