.delete-container {
  border: 1px solid transparent;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0.5rem 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282829;
  transition: 300ms;
}

.delete-btn {
  font-size: 1.5rem;
  color: #ffade4;
  transition: 300ms;
}

.delete-btn:hover {
  transform: scale(1.2);
  color: #fac2e7;
  cursor: pointer;
}

.delete-container:hover {
  background-color: rgb(73, 73, 73);
  cursor: pointer;
}
