#image {
  width: 15rem;
  height: 15rem;
  margin-top: 1rem;
  user-select: none;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  object-fit: cover;
}

.right-arr {
  font-size: 2.5rem;
  color: rgb(49, 49, 49);
  transition: 200ms;
  margin: 0.5rem;
}

.right-arr:hover {
  color: rgb(88, 88, 88);
  cursor: pointer;
  transform: scale(1.1);
}

.slide {
  opacity: 0;
  transition-duration: 300ms ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 300ms;
}

#Carousel-title {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  user-select: none;
  font-family: "Lilita One", cursive;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}

.img-slider-arrows {
  margin: 1rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#Carousel-txt {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  font-family: "Oleo Script", cursive;
  color: rgb(77, 77, 77);
  user-select: none;
  margin-top: 0.5rem;
}

.user-profile-delete-item {
  display: flex;
  justify-content: center;
}
