/* font-family: "Lilita One", cursive; */
/* font-family: "Oleo Script", cursive; */

.user-profile-container {
  /* display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 8fr; */
  /* border: 2px solid rgba(56, 56, 56, 0.267); */
  /* border-radius: 15px; */
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 80vw;
  margin: 1rem auto;
}

.user-profile-heading {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-profile-nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.7rem;
  width: 60vw;
  font-family: "Oleo Script", cursive;
  align-items: center;
  user-select: none;
}

.user-profile-nav a {
  text-decoration: none;
  color: #8a8a8a;
  transition: 300ms;
  user-select: none;
  font-size: 1.5rem;
}

.user-profile-nav a:hover {
  color: rgb(228, 180, 212);
  border-radius: 10px;
  user-select: none;
  cursor: pointer;
}

.user-profile-body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  width: 30vw;
  height: auto;
}

.UserProfilePage-prompt {
  font-family: "Lilita One", cursive;
  text-transform: uppercase;
  font-size: 1.6rem;
  display: flex;
  text-align: center;
}

@media screen and (max-width: 850px) {
  .user-profile-body {
    width: 50vw;
  }

  .user-profile-nav {
    font-size: 40px;
  }
}

@media screen and (max-width: 550px) {
  .user-profile-nav {
    font-size: 1rem;
  }
  .user-profile-body {
    width: 50vw;
  }
}

@media screen and (max-width: 440px) {
  .user-profile-nav {
    width: 80vw;
    font-size: 1.1rem;
  }
  .user-profile-body {
    width: 60vw;
  }
}
