.user-profile-container{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 8fr;
  border: 1px solid black;
  height: 80vh;
  width: 80vw;
  margin: 4rem auto;
}

.user-profile-heading {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/3;
  grid-row:1/2;
}

.user-profile-nav {
  display: flex;
  justify-content: center;
  line-height: 2rem;
  align-items: center;
  border: 1px solid black;
  grid-column: 1/2;
  grid-row: 2/3;
}

.user-profile-nav ul {
  list-style: none;
}

.user-profile-body {
  grid-column: 2/3;
  grid-row: 2/3;
}